<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/general :: baseHeader(title='Category')}" />
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>
<br><br>
<div class="container" style="text-align: center">
    <h1>Recipe Category</h1>
    <br>
    <p class="lh-sm">Explore a variety of recipe categories!</p>
    <p class="lh-sm">Whether you want quick snacks, hearty meals, or something special for a big occasion,
        we have recipes for you.</p>
    <p class="lh-sm">With easy-to-follow instructions and helpful tips, cooking has never been so simple and enjoyable.</p>

    <div class="row gx-3 gy-4" style="text-align: center;">
        <h1>Categories</h1>
        <div class="col-sm-6 col-md-3 mb-4" th:each="category : ${allCategories}">
            <div class="card h-100" style="width: 70%; margin-left: 3em">
                <img th:src="@{'/images/' + ${category.categoryName} + '.png'}"
                     th:alt="'Category Image'"
                     style="height: 14em; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href="@{/category/{name}(name=${category.categoryName})}" th:text="${category.categoryName}"></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>
