<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(title='Contact')}">
    <title>Contact</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <br>
    <h1>Contact Us</h1>
    <br>
    <h4>Thanks for reaching out, we’d love to help you!</h4>
    <br>
    <p>
        Thank you for visiting EatWell! We love hearing from our users, so don’t hesitate to get in touch.
    </p>
    <p>
        You can reach us directly at <b> info@eatwell.nl </b>, and we’ll respond as soon as possible.
    </p>
    <p>
        Your feedback, suggestions, and questions are important to us. We look forward to connecting with you!
    </p>

</div>

<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
