<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(title='Ingredient Details')}">
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <table class="table table-striped" th>
        <thead>
            <tr>
                <th scope="col">Ingredient</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient : ${allIngredients}">
                <th scope="col">
                    <td th:text="${ingredient.ingredientName}"></td>
                </th>
            </tr>

        </tbody>
    </table>
    <button type="button"
            class="btn btn-outline-secondary btn-lg px-4 fw-bold"
            data-bs-toggle="modal" data-bs-target="#newIngredient">
        <i class="bi bi-plus-square"></i> Add ingredient
    </button>
</div>



<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

<div th:replace="~{fragments/ingredient :: ingredientFormModal(${formIngredient}, ${#fields})}"></div>
</body>
</html>