<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>recipeCreation.html</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

    <h1>Create a new recipe</h1>

    <form class="row g-3" th:action="@{/recipe/new}" method="post" th:object="${newRecipe}">
        <input type="hidden" th:field="*{recipe_id}">

        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="name" class="col-form-label">Recipe Name</label>
            </div>
            <div class="col-5">
                <input type="text" id="name" class="form-control"
                       th:field="*{recipe_name}" aria-describedby="nameHelpInline">
            </div>
            <div class="col-6">
                <span id="nameHelpInline" class="form-text">
                </span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="description" class="col-form-label">Description</label>
            </div>
            <div class="col-5">
                <input type="text" id="description" class="form-control"
                       th:field="*{description}" aria-describedby="descriptionHelpInline">
            </div>
            <div class="col-6">
                <span id="decriptionHelpInline" class="form-text">
                </span>
            </div>
        </div>


        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="ingredients" class="col-form-label">Ingredient</label>
            </div>
            <div class="col-5">
                <input type="text" id="ingredients" class="form-control"
                       th:field="*{ingredients}" aria-describedby="ingredientsHelpInline">
            </div>
            <div class="col-6">
                <span id="ingredientsHelpInline" class="form-text">
                </span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="categories" class="col-form-label">Category</label>
            </div>
            <div class="col-3">
                <select id="categories" class="form-select"
                        th:field="*{categories}" aria-describedby="categoriesHelpInline" multiple>
                    <option th:each="categoryOption : ${allCategories}"
                            th:text="${categoryOption.category_name}"
                            th:value="${categoryOption.category_id}">
                    </option>
                </select>
            </div>
            <div class="col-6">
                <span id="categoriesHelpInline" class="form-text">
                </span>
            </div>
        </div>

        <div class="col-4">
            <button type="submit" class="btn btn-outline-primary">Save Recipe</button>
        </div>
    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>