<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(title='Add Recipe')}">
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

    <h1>Create a new recipe</h1>

    <form class="row g-3" th:action="@{/recipe/add}" method="post" th:object="${newRecipe}">
        <input type="hidden" th:field="*{recipe_id}">

        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="name" class="col-form-label">Recipe Name</label>
            </div>
            <div class="col-5">
                <input type="text" id="name" class="form-control"
                       th:field="*{recipe_name}" aria-describedby="nameHelpInline">
            </div>
            <div class="col-6">
                <span id="nameHelpInline" class="form-text">
                </span>
            </div>
            <div class="col-12">
                <span id="usernameHelpInline" class="form-text" th:if="${#fields.hasErrors('recipe_name')}"
                      th:errors="*{recipe_name}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
        <div class="col-1">
            <label for="description" class="col-form-label">Description</label>
        </div>
        <div class="col-5">
            <textarea id="description" class="form-control"
                      th:field="*{description}" aria-describedby="descriptionHelpInline"></textarea>
        </div>
        <div class="col-6">
                <span id="decriptionHelpInline" class="form-text" >
                </span>
        </div>
    </div>
        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="ingredients" class="col-form-label">Ingredients</label>
            </div>
            <select id="ingredients" class="form-select"
                    th:field="*{ingredients}" aria-describedby="ingredientsHelpInline" multiple>
                <option th:each="formIngredient : ${allIngredients}"
                        th:text="${formIngredient.ingredientName}"
                        th:value="${formIngredient.ingredient_id}">
                </option>
            </select>
            <div class="col-6">
                <span id="ingredientsHelpInline" class="form-text">
                </span>
            </div>
        </div>
        <div>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    Can't find the ingredient you're looking for?
                    <a th:href="@{/ingredient/overview}">Add it to the list!</a>
                </li>
            </ul>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="instructions" class="col-form-label">Preparation</label>
            </div>
            <div class="col-5">
            <textarea id="instructions" class="form-control"
                      th:field="*{instructions}" aria-describedby="preparationHelpInline"></textarea>
            </div>
            <div class="col-6">
                <span id="preparationHelpInline" class="form-text" >
                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="imageUrl" class="col-form-label">Image Url</label>
            </div>
            <div class="col-5">
            <input type="text" id="imageUrl" class="form-control"
                      th:field="*{imageUrl}" aria-describedby="imageUrlHelpInline"></input>
            </div>
            <div class="col-6">
                <span id="imageUrlHelpInline" class="form-text" >
                </span>
            </div>
        </div>


        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="categories" class="col-form-label">Category</label>
            </div>
            <div class="col-3">
                <select id="categories" class="form-select"
                        th:field="*{categories}" aria-describedby="categoriesHelpInline" multiple>
                    <option th:each="categoryOption : ${allCategories}"
                            th:text="${categoryOption.categoryName}"
                            th:value="${categoryOption.category_id}">
                    </option>
                </select>
            </div>
            <div class="col-6">
                <span id="categoriesHelpInline" class="form-text">
                </span>
            </div>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-outline-primary">Save Recipe</button>
        </div>
    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>



</body>
</html>