<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/general :: baseHeader(title='Recipe Overview')}" />
    <style>
        .carousel {
            width: 40%;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black;
            border-radius: 50%;
        }

    </style>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container d-flex justify-content-center mt-4" >

</div>
<div class="row gx-3 gy-4" style="text-align: center;">
    <h1>Overview recipes</h1>
    <div class="col-sm-6 col-md-3 mb-4" th:each="recepie : ${allRecipes}" >
        <div class="card h-100" style="width: 70%; margin-left: 60px">
            <img th:src="${recepie.recipe_name}" class="card-img-top" alt="Recipe Image"
                 style="height: 180px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">
                    Title: <span th:text="${recepie.recipe_name}"></span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Description: <span th:text="${recepie.description}"></span>
                </h6>
            </div>
            <div class="card-footer">
                <h6>Link</h6>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/general :: footer}"></div>

<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
